body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;}
h1, header {color: white; background-color: #2C73D2;}
img {border-radius: 50%;}
header {text-align: center;}
nav {color: white; background-color: black; ;}
